app install fastapi
app install uvicorn
app install sqlalchemy
app install passlib[bcrypt]
app install python-jose[cryptography]
app install pydantic[email]
app install python-multipart


\apis\Login> python -m uvicorn main:app --reload


https://aws.amazon.com/pt/blogs/publicsector/tag/aws-educate-starter-accounts/
